@{
    ViewBag.Title = "Home";
}

<style>
    .jumbotron{
        background-color:black
    }
</style>
<div class="row">
    <div class="col-md-8">
        <div class="jumbotron">
            <h1>English Tech Solutions LLC</h1> <h2>Contact us at 276-318-3247</h2>
        </div>
    </div>
    <div class="col-md-4">
        <div class="fb-page" data-href="https://www.facebook.com/englishtechsolutions/" data-tabs="timeline" data-width="450" data-height="800" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/englishtechsolutions/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/englishtechsolutions/">English Tech Solutions LLC</a></blockquote></div>
    </div>
</div>