<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <EnableADPublish>true</EnableADPublish>
    <ADDirectoryAccessLevel>0</ADDirectoryAccessLevel>
    <ADDomain>englishtechsolutions.onmicrosoft.com</ADDomain>
    <ADUsesOwinOrOpenIdConnect>true</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://englishtechsolutions.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>englishtechsolutions.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>EnglishTechSolutions</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$EnglishTechSolutions</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADAppIDUri>https://englishtechsolutions.onmicrosoft.com/WebApp-englishtechsolutions.azurewebsites.net</ADAppIDUri>
    <ADDestinationProvisioned>True</ADDestinationProvisioned>
    <ADClientAPPID>a22f8aac-4276-4291-b668-ccb46d024e65</ADClientAPPID>
    <ADClientPassword>pNxFVpM2kx5/N/NuzChyFF/F7s10sdgV6eXFDn3GBYI=</ADClientPassword>
    <ADReplyUrl>https://englishtechsolutions.azurewebsites.net/</ADReplyUrl>
    <ADIssuer />
    <ADTenantId>926463cf-c499-41f2-85b6-3992f37fcf56</ADTenantId>
    <ADPostLogoutRedirectUri>https://englishtechsolutions.azurewebsites.net/</ADPostLogoutRedirectUri>
  </PropertyGroup>
</Project>