@{
    ViewBag.Title = "Home";
}

<style>
    .jumbotron{
        background-color:black
    }
</style>


<div class="jumbotron">
    <h1>Services Offered</h1> <h2>Contact us at 276-318-3247</h2>
</div>
